
__pycache__/
output/
study/
Log/ExternalService/*
Log/InternalModule/*
Log/Other/*
Log/*.Log
Log/*.pos
Service/Gateway/Other
Service/Other/InternalModule
Module/TTS/GPTSoVits/ExternalService
Module/Chat/user_audio_input
Users/Files/*
Users/Config/*
*.log
*.pyc
*.pyo
*.pyd