__pycache__/
output/
study/
# 归档目录 - 包含已归档的临时文件和测试脚本
Archive/
Log/ExternalService/*
Log/InternalModule/*
Log/Other/*
Log/*.Log
Log/*.pos
Service/APIGateway/Other
Service/MicroServiceGateway/Other
Service/Other/InternalModule
Module/TTS/GPTSoVits/ExternalService
Module/Chat/user_audio_input
Users/Files/*
Users/Config/*
*.log
*.pyc
*.pyo
*.pyd
Users/Config/*
Users/Files/*